 /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: olive;
      padding: 25px;
    }
    
  body{
    background-image: url('http://g02.a.alicdn.com/kf/HTB1R3.5KXXXXXX.XpXXq6xXFXXXQ/send-rolled-8-x8-Red-Brick-Backdrop-rustic-old-vintage-brick-wall-with-wooden-floor-Printed.jpg');
    font-weight: bold;

  }

  #locbt{
    color: olivedrab;
  }

  table, tr, td, th{
    text-align: center;
    vertical-align: middle;
  }

  table tr td, table tr th{
    background-color: rgb(153, 51, 51);
    font-weight: bold;
  }
  
  .container{
    color: orange;
    font-weight: bold;
  }

  #menuh2{
    background-color: rgb(153, 51, 51);
  }

  #recommh3{
    background-color: rgb(153, 51, 51);
  }
